/** @format */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Fruktur:ital@0;1&display=swap');

@import "tailwindcss";

@theme {
  --font-Roboto: "Roboto", sans-serif;
  --font-fruktur: "Fruktur", system-ui;
}

form input {
  flex: 1;
  margin-bottom: 10px;
  outline: none;
  border-radius: 4px;
}

form label {
  width: 100px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media print {
  /* #header,
  #form-container,
  #footer {
    display: none !important;
  } */

  main {
    display: block !important;
    max-width: 100% !important;
    margin: 0 !important;
  }

  #invoice-preview {
    display: block !important;
    width: 100% !important;
    border: none !important;
    border-radius: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: none !important;
  }

  #invoice-preview table {
    width: 100%;
    border-collapse: collapse;
  }

  #invoice-preview th,
  #invoice-preview td {
    border: 1px solid #ccc;
    padding: 8px;
  }
}

/* Background: #F9FAFB

Card: #FFFFFF

Text: #111827

Border: #E5E7EB */
